$primary: #FFE600;
$secondary: #333333;
$tertiary: #666666;
$quaternary: #999999;
$quinary: #EEEEEE;
$senary: #3483FA;

//font size
$text-xxs: 12px;
$text-xs: 14px;
$text-sm: 16px;
$text-md: 18px;
$text-lg: 24px;
$text-xl: 28px;
$text-xxl: 46px;

//Margin
$margin-md: 16px;
$margin-lg: 32px;

//padding

$padding-xxs: 12px;
$padding-xs: 14px;
$padding-sm: 16px;
$padding-md: 18px;
$padding-lg: 24px;
$padding-xl: 28px;
$padding-xxl: 46px;


$breakpoint-xsmall: 320px !default;
$breakpoint-small: 480px !default;
$breakpoint-medium: 768px !default;
$breakpoint-large: 1085px !default;
$breakpoint-xlarge: 1220px !default;

